{% extends "layout.html" %}

{% block title %}Generate{% endblock %}
{% block header_content %}
        <a href="{{url_for('logout')}}" class="btn btn-info" role="button">  Logout  </a>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'codemirror-5.25.0/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'codemirror-5.25.0/addon/hint/show-hint.css') }}">
<script src="{{ url_for('static', filename = 'codemirror-5.25.0/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename = 'codemirror-5.25.0/addon/hint/show-hint.js') }}"></script>
<script src="{{ url_for('static', filename = 'codemirror-5.25.0/addon/edit/matchbrackets.js') }}"></script>
<script src="{{ url_for('static', filename = 'codemirror-5.25.0/mode/python/python.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'codemirror-5.25.0/addon/hint/show-hint.css') }}">

<style type="text/css">.ValueMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<div class="container">
    <div id="accordion" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="#collapseOne"> Under the Hood </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div id = "uth" class="panel-body">
                    <p><h3>Nothing here yet! Visit after you make a query. </h3></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-parent="#accordion" href="#collapseTwo"> Code Editor </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
		<div class="row">
		  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default"  onLoad="text_editor();">
				<div class="panel-heading">
					<button type="button" style="display: none" id = 'inv_b' data-val="bold" class="btn btn-default" data-loading-text="Generating Value. Please wait..." > Generate Value </button>
				</div>
				<div class="panel-body">
					<textarea id="text-editor" name="text-editor" rows = 20 class="form-control">{{full_code}}</textarea>
				</div>
			</div>
		  </div>
		</div>
        </div>
      </div>
</div>

<script type = "text/javascript">
String.prototype.leftTrim = function () {
  return this.replace(/^\s+/, '');
}
var snippets_main = [
]; //er_links = '', keywords = ''; 
CodeMirror.registerHelper('hint', 'codecompl', function (editor, options) {
  var cur = editor.getCursor(),
  curLine = editor.getLine(cur.line);
  var indent = curLine.length - curLine.leftTrim().length;
  var errors = [
  ],
  links_info = '',
  keywords = '';
  var snippets = options && options.list || [
  ];
  var op = {
    list: snippets,
    from: CodeMirror.Pos(cur.line, indent),
    to: CodeMirror.Pos(cur.line)
  };
  return op;
});
CodeMirror.commands.autocomplete = function (cm) {
      var orig = CodeMirror.hint.codecompl;
      CodeMirror.hint.codecompl = function (cm) {
        var inner = orig(cm) || {
          from: cm.getCursor(),
          to: cm.getCursor(),
          list: []
        };
        snippets_main.forEach( function(snip){
           inner.list.push(snip);
        }); //s']);
        return inner;
      };
      cm.showHint({hint: CodeMirror.hint.codecompl});
      CodeMirror.hint.codecompl = orig;

}
var editor = CodeMirror.fromTextArea(document.getElementById('text-editor'), {
  mode: {
    name: 'python',
    version: 3,
    singleLineStringErrors: false
  },
  lineNumbers: true,
  indentUnit: 4,
  extraKeys: {
    'Shift-Enter': function () {
      document.getElementById('inv_b').click();
    }
  }
});
$('#inv_b').click(function () {
  var curLine = editor.getLine(editor.getCursor().line);
  $.post("{{url_for('code_editor')}}", {
    ip_str: curLine, //ine(editor.getCursor().line),
    tab_w: curLine.length - curLine.leftTrim().length,
    src_code_content: editor.getValue()
  }, function (data, status) {
    var errors = data['errors'],
    keywords = data['keywords'],
    answer_links = data['answer_links'];
    if (errors.length > 0) {
      $('#opfl').html('<div class="alert alert-danger alert-dismissable">\n<a class="close" data-dismiss="alert" aria-label="close" href="#">×</a>\n' + errors + '\n</div>');
    } 
    else {
      $('#opfl').html('<div class="alert alert-success alert-dismissable">\n<a class="close" data-dismiss="alert" aria-label="close" href="#">×</a>\n  So far so good!\n</div>');
      snippets_main = data['code_snippets'];
      editor.execCommand('autocomplete');
    }
    var op_str = "<p><br/>Your input string was : <b>" + curLine + "</b><br/>Keywords deduced are  : <b>" + keywords + "</b>";
    if (answer_links != '') {
      op_str = op_str + "<br/>For further explanation or verification please visit the following pages: " + answer_links;
    }
    $('#uth').html(op_str + '</p>');
  });
});

</script>
{% endblock %}
