{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block header_content %}
	<a href="{{url_for('login')}}" class="btn btn-info" role="button">  Sign In  </a>
{% endblock %}

{% block content %}
Code Assist is a free form text interpreter that fills in code snippets from StackOverflow based on your input query. Say goodbye to context switches and improve your productivity. You may or may not sign in to use this product. Just so you know, signing in with Stackexchange will give you more flexibilities in terms of requests / second
{% endblock %}
